/*
    Sezione generale, definizione font
*/

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444851;
  
}

/*
    Centrare ed allineare testo/bottoni
*/

.center {
  display: flex;
  align-items:center;
  padding: 3px;

}

h1 {
  font-size: 45px;
  color: black;
}



header {
  height: 100px;
  padding: 10px;
  display: flex;
  align-items:center;
  margin-left: 2%;
  background-color: white;
}



.box{
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 25px;
  border-radius: 12px;

}

/*
    Bottoni "Add Task/Section
*/

.bbl{
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 14px;
  margin: 8px 2px;
}

.first{
  background-color: #40adf7 ;
  color: rgb(255, 255, 255);
  border:none;
}

.second{
  background-color: white;
  color: #C5CBD0;
  border: 2px solid #C5CBD0;
}

/*
   Bottoni accanto testo
*/

.bubble {
  color: white;
  border-radius: 20px;
  margin-left: 0.2em;
  padding: 0.6em 1em;
  font-size: 10px;

}

/*
    Colore Generale/bottoni
*/



.avana {
  background-color: #F6F8F9;
}

.blue{
  background-color: blue;
}
.violet{
  background-color: violet;
}
.green{
  background-color: green;
}
.green2{
  background-color: #B0C926;
}

.orange{
  background-color: orange;
}
.rez {
  background-color: pink;

}







